@mixin status {
  @include font;
  align-self: center;
  line-height: 1.5625rem;
}

.activitycard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.0625rem solid $border;
  border-bottom: 0.0625rem solid $border;
  padding: 1.0625rem 0rem 1.125rem 0rem;
}

.activitycard-- {
  &info {
    justify-self: left;
    align-self: center;
    margin-left: 4rem;

    &_date {
      @include font;
      color: $black;
      margin-bottom: 0.5rem;
    }

    &_name {
      margin-bottom: 0.25rem;
    }

    &_head {
      @include font;
      color: rgba($font-color, 0.6);
    }

    &_heading {
      @include font;
    }
  }

  &course {
    @include font;
    font-size: 0.875rem;
    line-height: 1rem;
  }

  &status {
    &_color {
      margin-bottom: 0.125rem;
    }

    &_blue {
      @include status;
      color: $primary;
    }

    &_green {
      @include status;
      color: $success;
    }

    &_yellow {
      @include status;
      color: $hold;
    }
  }

  &file {
    @include font;
    width: 30%;
    align-self: center;
    margin-right: 4rem;
    line-height: 2.1875rem;
    color: $primary;

    &_download {
      vertical-align: middle;
      margin-right: 0.375rem;
    }
  }

  &file:hover {
    cursor: pointer;
  }
}
