.activitycard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 0.0625rem solid $border;
  border-bottom: 0.0625rem solid $border;
  padding: 1.0625rem 0rem 1.125rem 0rem;
}

.activitycard-- {
  &info {
    justify-self: left;
    align-self: center;
    margin-left: 4rem;

    &_date {
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      color: $black;
      margin-bottom: 0.5rem;
    }

    &_name {
      margin-bottom: 0.25rem;
    }

    &_head {
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      color: rgba($font-color, 0.6);
    }

    &_heading {
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      color: rgba($font-color, 1);
    }
  }

  &course {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $font-color;
  }

  &status {
    &_color {
      margin-bottom: 0.125rem;
    }

    &_blue {
      align-self: center;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5625rem;
      color: $primary;
    }

    &_green {
      align-self: center;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5625rem;
      color: $success;
    }

    &_yellow {
      align-self: center;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5625rem;
      color: $hold;
    }
  }

  &file {
    width: 30%;
    align-self: center;
    margin-right: 4rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.1875rem;
    color: $primary;

    &_download {
      vertical-align: middle;
      margin-right: 0.375rem;
    }
  }

  &file:hover {
    cursor: pointer;
  }
}
