.activityreqcard {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-row: auto;

    border-top: 0.0625rem solid rgba(65, 64, 66, 0.2);
    border-bottom: 0.0625rem solid rgba(65, 64, 66, 0.2);

    padding: 1.0625rem 0rem 1.125rem 0rem;
}

.activityreqcard-- {

    &info {
        grid-column: 1 / span 1;
        justify-self: left;
        align-self: center;
        margin-left: 4rem;

        &_date {
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.1875rem;
    
            color: #000000;
            margin-bottom: 0.5rem;
        }

        &_name {
            margin-bottom: 0.25rem;
        }

        &_head {
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.1875rem;
    
            color: rgba(43, 42, 40, 0.6);
        }

        &_heading {
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.1875rem;
            
            color: rgba(43, 42, 40, 1.0);    
        }
    }

    &course {
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1rem;

        color: rgba(43, 42, 40, 0.8);
    }

    &status {
        grid-column: 2 / span 1;
        justify-self: center;
        align-self: center;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5625rem;

        color: #2F7F2E;

        &_color {
            margin-bottom: 0.125rem;
        }
    }

    &file {
        grid-column: 3 / span 1;
        justify-self: center;
        align-self: center;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 2.1875rem;

        color: #38A7DE;

        &_download {
            vertical-align: middle;
            margin-right: 0.375rem;
        }
    }
    
    &file:hover {
        cursor: pointer;
    }
}