.admin-table-- {
  &row {
    display: flex;
    padding: 1.5rem 4rem;
    border-top: 0.0625rem solid rgba(65, 64, 66, 0.2);
  }

  &primary-row {
    width: 60%;
    height: fit-content;
    margin: auto 0;
    @include font;
  }

  &secondary-row {
    width: 40%;
    display: flex;
    justify-content: center;
    @include font;
    .row-item {
      flex: 1;
      text-align: center;
    }
  }
}

.admin- {
  &table-title {
    margin-top: 4rem;
  }
  &icon-btn {
    cursor: pointer;
    transition: 0.2s ease;
    border-radius: 4px;
    height: 2rem;
    width: 2rem;
    margin: auto;
    img {
      height: 1.2rem;
      width: 1.2rem;
      margin-top: 0.4rem;
    }
  }
}

.admin-icon-- {
  &primary:hover {
    background: lighten($primary, 30%);
  }
  &error:hover {
    background: lighten(red, 40%);
  }
  &success:hover {
    background: lighten(green, 40%);
  }
}

.active-tab-admin {
  color: $primary;
  font-weight: 600;
}

.tab-admin {
  width: max-content;
  height: auto;
}

.active-tab-underline {
  border-bottom: 3px solid $primary;
  width: 80%;
  margin: auto;
  padding-top: 0.5rem;
}
