.coursehandle {
  width: 99.5%;
  min-height: 2.625rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;

  &_active {
    width: 100%;
    min-height: 2.625rem;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    background-color: $primary;
  }
}

.coursehandle-- {
  &heading {
    @include font;
    padding-left: 2.25rem;
    line-height: 3rem;
    color: $white;

    &-dept {
      @include font;
      font-size: 0.875rem;
      padding-left: 2.25rem;
      margin-top: -0.75rem;
      margin-bottom: 0.75rem;
      color: rgba($white, 0.6);
    }
  }

  &mycourse {
    float: right;
    margin-right: 2.5rem;
    margin-top: 0.75rem;
    color: rgba($primary, 0.6);
  }

  &activedot {
    margin-left: 0.5rem;
    width: 0.625rem;
    height: 0.625rem;
  }

  &heading:hover {
    cursor: pointer;
  }

  &heading-light {
    opacity: 0.5;
  }
}

.ant-tooltip-inner {
  @include font;
  color: $white;
  font-size: 0.875rem;
}
