.coursepage {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 26.5rem;
    width: calc(100% - 26.5rem);
    height: calc(100% - 4.5625rem);
    min-height: 26.5625rem;
    z-index: -1;
    overflow-y: auto;
    cursor: default;

    .link{
      text-decoration: none;
    }

    ::-webkit-scrollbar {
        width: 0.375rem;
    }
     ::-webkit-scrollbar-track {
        background: #88CAEB;
    }
     ::-webkit-scrollbar-thumb {
        background: #629EBD;
        border-radius: 2.9375rem;
    }
}

.coursepage-- {
    &head {
        width: auto;
        height: auto;
        margin-top: 2.9375rem;
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.375rem;
        color: rgba(43, 42, 40, 0.9);
        text-align: center;
    }

    &underline {
        width: 5rem;
        height: 0.0625rem;
        align-self: center;
        margin-top: 0.625rem;
        border: 0.02125rem solid #38A7DE;
    }

    &addcourse {
        width: 6.25rem;
        height: 1.1875rem;
        float: right;
        margin-right: 3%;
        margin-top: -1rem;
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #38A7DE;
    }

    &removecourse {
        width: 10rem;
        height: 1.1875rem;
        float: right;
        margin-right: 3%;
        margin-top: -1rem;
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #38A7DE;
    }

    &category {
        display: flex;
        flex-direction: row;
        align-self: center;
        width: 60%;
        height: 1.375rem;
        margin-top: 2.3125rem;
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.3125rem;
        color: #2B2A28;

        &_all {
            width: 1.3125rem;
            height: 1.375rem;
            text-decoration: none;
            padding:0.5rem 5% 0.6875rem 0%;
        }

        &_tut {
            width: 4.8125rem;
            height: 1.375rem;
            text-decoration: none;
            padding: 0.5rem 4% 0.6875rem 5%;
            border-left: 0.0625rem solid rgba(43, 42, 40, 0.4);
        }

        &_books {
            width: 3.125rem;
            height: 1.375rem;
            text-decoration: none;
            padding: 0.5rem 5% 0.6875rem 6%;
            border-left: 0.0625rem solid rgba(43, 42, 40, 0.4);
        }

        &_notes {
            width: 3rem;
            height: 1.375rem;
            text-decoration: none;
            padding: 0.5rem 4% 0.6875rem 5%;
            border-left: 0.0625rem solid rgba(43, 42, 40, 0.4);
        }

        &_exam {
            width: 10.0625rem;
            height: 1.375rem;
            text-decoration: none;
            padding: 0.5rem 0% 0.6875rem 4%;
            border-left: 0.0625rem solid rgba(43, 42, 40, 0.4);
        }

        &_all_ {
          width: 1.3125rem;
          height: 1.375rem;
          font-weight: bold;
          color: #38A7DE;
          padding:0.5rem 5% 0.6875rem 0%;
      }

      &_tut_ {
          width: 4.8125rem;
          height: 1.375rem;
          font-weight: bold;
          color: #38A7DE;
          padding: 0.5rem 4% 0.6875rem 5%;
          border-left: 0.0625rem solid rgba(43, 42, 40, 0.4);
      }

      &_books_ {
          width: 3.125rem;
          height: 1.375rem;
          font-weight: bold;
          color: #38A7DE;
          padding: 0.5rem 5% 0.6875rem 6%;
          border-left: 0.0625rem solid rgba(43, 42, 40, 0.4);
      }

      &_notes_ {
          width: 3rem;
          height: 1.375rem;
          font-weight: bold;
          color: #38A7DE;
          padding: 0.5rem 4% 0.6875rem 5%;
          border-left: 0.0625rem solid rgba(43, 42, 40, 0.4);
      }

      &_exam_ {
          width: 10.0625rem;
          height: 1.375rem;
          font-weight: bold;
          color: #38A7DE;
          padding: 0.5rem 0% 0.6875rem 4%;
          border-left: 0.0625rem solid rgba(43, 42, 40, 0.4);
      }
    }

    &material-sort {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 96.5%;
        height: 4.25rem;
        margin-left: 1%;
        margin-top: 3.625rem;
        font-family: Sansation;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.125rem;
        color: #000000;
        border-top: 0.0625rem solid rgba(65, 64, 66, 0.2);

        &_namecheck {
            display: flex;
            flex-direction: row;
            margin-left: 1.875rem;
        }

        &_checkbox {
            width: 0.9375rem;
            height: 0.9375rem;
            margin-right: 0.75rem;
            margin-top: 1.625rem;
            margin-bottom: 1.5625rem;
        }

        &_name {
            width: 2.8125rem;
            height: 1.125rem;
            margin-left: 0.75rem;
            margin-top: 1.5625rem;
            margin-bottom: 1.4375rem;
        }

        &_sizemod {
            display: flex;
            flex-direction: row;
            margin-top: 1.5rem;
            margin-bottom: 1.4375rem;
        }

        &_size {
            width: 3.8rem;
            height: 1.1875rem;
            margin-right: 7.75rem;
        }

        &_lastmod {
            width: 6.75rem;
            height: 1.1875rem;
            margin-right: 1.375rem;
        }
    }

    &material {
        width: 98%;

        &_year {
            width: 98.5%;
            height: 3.1875rem;
            margin-left: 1%;
            margin-bottom: 2rem;
            background: rgba(56, 167, 222, 0.275);
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 1.125rem;
            line-height: 3.1875rem;
            text-align: center;
            color: #2B2A28;
            cursor: pointer;
        }
    }

    &underline_ {
        &all {
            width: 1.0625rem;
            border: 0.0625rem solid #FFFFFF;
            margin-top: 0.625rem;
            margin-left: 0rem;
        }

        &tut {
            width: 4.0625rem;
            border: 0.0625rem solid #FFFFFF;
            margin-top: 0.625rem;
            margin-left: 0.125rem;
        }

        &books {
            width: 2.8125rem;
            border: 0.0625rem solid #FFFFFF;
            margin-top: 0.625rem;
            margin-left: 0.0625rem;
        }

        &notes {
            width: 2.8125rem;
            border: 0.0625rem solid #FFFFFF;
            margin-top: 0.625rem;
            margin-left: 0.0625rem;
        }

        &exam {
            width: 10rem;
            border: 0.0625rem solid #FFFFFF;
            margin-top: 0.625rem;
            margin-left: 0.0625rem;
        }

        &all_ {
          width: 1.0625rem;
          border: 0.0425rem solid #38A7DE;
          margin-top: 0.625rem;
          margin-left: 0rem;
        }

        &tut_ {
            width: 4.0625rem;
            border: 0.0425rem solid #38A7DE;
            margin-top: 0.625rem;
            margin-left: 0.125rem;
        }

        &books_ {
            width: 2.8125rem;
            border: 0.0425rem solid #38A7DE;
            margin-top: 0.625rem;
            margin-left: 0.0625rem;
        }

        &notes_ {
            width: 2.8125rem;
            border: 0.0425rem solid #38A7DE;
            margin-top: 0.625rem;
            margin-left: 0.0625rem;
        }

        &exam_ {
            width: 10rem;
            border: 0.0425rem solid #38A7DE;
            margin-top: 0.625rem;
            margin-left: 0.0625rem;
        }
    }

    &category:hover, &addcourse, &removecourse {
        cursor: pointer;
    }
}

.link {
  text-decoration: none;
  color: #2B2A28;

  &active {
    text-decoration: none;
    color: #38A7DE;
  }
}
