.coursecover {
  position: absolute;
  top: 4.5625rem;
  left: 26.5rem;
  width: calc(100% - 26.5rem);
  height: calc(100% - 4.5625rem);

  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0D2938;

  &-hold {
    width: 307px;
    height: 28px;
  }
}
