.customcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0.9375rem;
  width: 0.9375rem;
  left: 0%;
  top: 0%;
  z-index: 1;
}

.customcheckbox--checkmark {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  height: 0.9375rem;
  width: 0.9375rem;
  background-color: $white;
  border: 0.0625rem solid $border;
  box-sizing: border-box;
  border-radius: 0.125rem;
}

.customcheckbox:hover input ~ .customcheckbox--checkmark {
  background-color: $white;
}

.customcheckbox input:checked ~ .customcheckbox--checkmark {
  background-color: $white;
}

.customcheckbox--checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.customcheckbox input:checked ~ .customcheckbox--checkmark:after {
  display: block;
}

.customcheckbox .customcheckbox--checkmark:after {
  left: 0.25rem;
  top: 0.065625rem;
  width: 0.1875rem;
  height: 0.4375rem;
  border: solid $black;
  border-width: 0 0.1875rem 0.1875rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.customcheckbox {
  position: relative;
  cursor: pointer;
  font-size: 1.375rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
