.radio
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1.75vh;
    height: 1.75vh;

    border: 1px solid #2B2A28;
    transition: 0.2s all ease-in;
    outline: none;
}

.radio:disabled {
    border: 1px solid rgba(65, 64, 66, 0.2);
}

.radio:checked {
    border: 5px solid #2B2A28;
}