.radio
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1.07296875rem;
    height: 1.07296875rem;

    border: 0.0625rem solid #2B2A28;
    transition: 0.2s all ease-in;
    outline: none;
}

.radio:disabled {
    border: 0.0625rem solid rgba(65, 64, 66, 0.2);
}

.radio:checked {
    border: 0.3125rem solid #2B2A28;
}