.error {
  width: 100%;
  height: calc(100% - 4.5625rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-- {
  &image {
    width: auto;
    height: auto;
    margin-top: 8%;
  }

  &page {
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 75px;
    color: $primary;
  }

  &sorry {
    margin-top: 1.8125rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: $font-color;
  }

  &links {
    display: flex;
    flex-direction: row;
    margin-top: 1.875rem;
    margin-bottom: 3rem;
  }

  &home {
    width: 7.0625rem;
    height: 2.5625rem;
    background: $primary;
    border-radius: 0.125rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.5625rem;
    text-align: center;
    color: $white;
  }

  &back {
    margin-left: 2.25rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.5625rem;
    color: $primary;
    cursor: pointer;
  }
}
