@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.filecover {
  @include position;
  @include font;
  @include center;
  align-content: center;
  width: calc(100% - 26.5rem);
  height: calc(100% - 4.5625rem);
  margin-left: 26.5rem;
  z-index: -1;
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: $secondary;

  .loader {
    animation: rotation 1s infinite linear;
  }

  &--hold {
    @include font;
    width: 13.4375rem;
    height: 1.75rem;
    margin-top: 0.7891rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: $primary;
  }
}
