@font-face {
    font-family: Sansation;
    src: url(sansation.regular-webfont.woff);
}

@font-face {
    font-family: Droid Sans;
    src: url(droidsans-webfont.woff);
}

@font-face {
    font-family: Raleway;
    src: url(raleway-regular-webfont.woff);
}
