.sub_list {
    position: absolute;
    top: 28.375rem;
    left: calc(52% - 31.75rem);
    width: 63.5rem;

    display: grid;
    grid-template-rows: 10rem 10rem 10rem 10rem 10rem;
    grid-template-columns: 25% 25% 25% 25%;

    justify-items: center;
    align-items: center;
}

.archi {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    justify-self: center;
    align-self: center;
}

.appli_sci {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    margin-bottom: 0.75rem;
}

.biotech {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    margin-bottom: 0.75rem;
}

.chem {
    grid-row: 1 / span 1;
    grid-column: 4 / span 1;
    margin-bottom: 0.75rem;
}

.chem_engg {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.civil {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.cse {
    grid-row: 2 / span 1;
    grid-column: 3 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.earthquake {
    grid-row: 2 / span 1;
    grid-column: 4 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.earth_sci {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.ece {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.elec {
    grid-row: 3 / span 1;
    grid-column: 3 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.hss {
    grid-row: 3 / span 1;
    grid-column: 4 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.a {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.b {
    grid-row: 4 / span 1;
    grid-column: 2 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.c {
    grid-row: 4 / span 1;
    grid-column: 3 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.d {
    grid-row: 4 / span 1;
    grid-column: 4 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.e {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.f {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.g {
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.h {
    grid-row: 5 / span 1;
    grid-column: 4 / span 1;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
}

.archiimg:hover, 
.appli_sciimg:hover, 
.biotechimg:hover, 
.chemimg:hover, 
.chem_enggimg:hover, 
.civilimg:hover, 
.cseimg:hover, 
.earthquakeimg:hover, 
.earth_sciimg:hover, 
.eceimg:hover, 
.elecimg:hover, 
.hssimg:hover, 
.aimg:hover, 
.bimg:hover, 
.cimg:hover, 
.dimg:hover, 
.eimg:hover, 
.fimg:hover, 
.gimg:hover, 
.himg:hover {
    cursor: pointer;
    width: 14.8125rem;
    height: 9.625rem;

    background: #1E85B8;
    mix-blend-mode: multiply;
    box-shadow: 0px 0.25rem 0.25rem rgba(13, 41, 56, 0.15);
    border-radius: 0.125rem;
}