.sub_list {
    position: absolute;
    top: 28.375rem;
    left: calc(50% - 31.75rem);
    width: 63.5rem;

    display: flex;
    flex-wrap: wrap;

    justify-items: center;
    align-items: center;
    padding: 0rem 2rem 0rem 2rem;
    margin-bottom: 3.375rem;
}
