.landingheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: url(../assets/landing_header.svg);
    background-color: #38A7DE;
    background-size: contain;
    height: 24.4375rem;
    width: 100%;
    text-align: center;
}

.landingheader-- {
    &logo_sds {
        margin-top: 2.280625rem;
        margin-left: 8.375rem;
    }

    &main {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
    }

    &logo {
        margin-top: 4.575rem;
    }

    &heading {
        margin-top: 0.888125rem;
        width: 11.625rem;
        height: 2.25rem;
        font-family: Sansation;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 2.25rem;
        text-align: center;
        color: #2B2A28;
    }

    &caption {
        margin-top: 0.9375rem;
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #28607E;
    }

    &search {
        display: flex;
        flex-direction: row;
        margin-top: 1.25rem;
        width: 70%;
        height: 3rem;
        background: #FFFFFF;
        border-radius: 0.25rem;

        &_bar {
            width: 97.6%;
            height: 100%;
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            line-height: 1.1875rem;
            outline: none;
            background: #FFFFFF;
            padding-left: 1rem;
            border: white;
            border-radius: 0.5rem;
            box-sizing: border-box;
        }

        &_icon {
            width: 3.09375rem;
            height: 100%;
            background: #FFFFFF;
            border: white;
            border-radius: 0.25rem;
        }
    }

    &user_loggedin {
        display: flex;
        margin-left: 5.375rem;
        margin-right: 3rem;
    }

    &notifications {
        margin-top: 2.75rem;
        margin-left: -22.125rem;
        margin-right: -1rem;
    }

    &user_nologin {
        display: flex;
        margin-top: 2.25rem;
        margin-left: -12.575rem;
        margin-right: 8.375rem;
    }

    &user {
        margin-top: 2.25rem;
    }

    &login {
        width: 6.25rem;
        height: 2.5625rem;
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #0d2938;
        background: transparent;
        border: none;
    }

    &signup {
        width: 7.5625rem;
        height: 2.5625rem;
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #2B2A28;
        border-radius: 0.25rem;
        border: 1px solid #2B2A28;
        background: transparent;
    }

    &image {
        width: 3.5rem;
        height: 3.5rem;
        color: #0d2938;
    }

    &search:hover, &request:hover, &upload:hover, &login:hover, &signup:hover &image:hover {
        cursor: pointer;
    }

    &search:focus, &login:focus, &signup:focus {
        outline: none;
    }
}
