.landingheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(../assets/landing_header.svg);
  background-color: #38a7de;
  background-size: contain;
  height: 24.4375rem;
  width: 100%;
  text-align: center;

  cursor: default;

  ::-webkit-scrollbar {
    width: 0.375rem;
  }

  ::-webkit-scrollbar-track {
    background: #88caeb;
  }

  ::-webkit-scrollbar-thumb {
    background: #629ebd;
    border-radius: 2.9375rem;
  }
}

.landingheader-- {
  &logo_sds {
    margin-top: 2.280625rem;
    margin-left: 8.375rem;
  }

  &main {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
  }

  &logo {
    margin-top: 4.575rem;
  }

  &heading {
    margin-top: 0.888125rem;
    width: 11.625rem;
    height: 2.25rem;
    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.25rem;
    text-align: center;
    color: #2b2a28;
  }

  &caption {
    margin-top: 0.9375rem;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #28607e;
  }

  &search {
    display: flex;
    flex-direction: row;
    margin-top: 1.25rem;
    width: 70%;
    border-radius: 0.25rem;
  }

  &user_loggedin {
    display: flex;
    margin-left: 9.375rem;
    margin-right: 4rem;
  }

  &notifications {
    margin-top: 2.75rem;
    margin-left: -22.125rem;
  }

  &user_nologin {
    display: flex;
    margin-top: 2.25rem;
    margin-left: -8.575rem;
    margin-right: 8.375rem;
  }

  &user {
    margin-top: 2.25rem;
  }

  &login {
    width: 6.25rem;
    height: 2.5625rem;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #0d2938;
    background: transparent;
    border: none;
  }

  &signup {
    width: 7.5625rem;
    height: 2.5625rem;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #2b2a28;
    border-radius: 0.25rem;
    border: 1px solid #2b2a28;
    background: transparent;
  }

  &image {
    width: 3.5rem;
    height: 3.5rem;
    color: #0d2938;
  }

  &search:hover,
  &request:hover,
  &upload:hover,
  &login:hover,
  &signup:hover &image:hover {
    cursor: pointer;
  }

  &search:focus,
  &login:focus,
  &signup:focus {
    outline: none;
  }
}
