.mob-banner-- {
  &main {
    @include font;
    @include center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: lighten($primary, $amount: 35%);
    z-index: 100;
  }

  &title {
    font-size: 1.25rem;
    font-weight: 600;
    color: $secondary;
  }

  &subtext {
    opacity: 0.8;
  }

  &decor {
    border-bottom: 3px solid $primary;
    height: 1px;
    width: 1.25rem;
    margin: 1rem auto;
  }
}
