.nosearchresults {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-width: 28.125rem;
  height: 22.875rem;
  background: $white;
  box-shadow: 0.0625rem 0.0625rem 0.25rem rgba($black, 0.15);
  z-index: 2;
  &_emoji {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 1rem;
  }
}

.nosearchresults-- {
  &message {
    text-align: left;
    margin-left: 1%;
    margin-right: 0.75rem;
    &_plaintext {
      width: auto;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      color: $font-color;
    }
    &_request {
      width: 6.375rem;
      height: 1.1875rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      color: $primary;
    }
    &_request:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.outer {
  margin-left: 1%;
}
