.notifications-- {
  &card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.125rem 0.125rem 0rem 0rem;
    border-bottom: 0.0625rem rgba($primary, 0.3);
  }
  &card:hover {
    background: rgba($primary, 0.275);
    cursor: pointer;
  }
  &card- {
    &description {
      @include font;
      width: 14.0625rem;
      padding-left: 0.5rem;
      font-size: 0.75rem;
      line-height: 0.875rem;
    }
    &page {
      @include font;
      align-self: center;
      width: 4.3125rem;
      font-size: 0.6875rem;
      line-height: 0.8125rem;
      color: rgba($font-color, 0.2);
    }
  }
}

.bold {
  font-weight: 600;
}
