.notification-card-- {
  &grid {
    display: grid;
    grid-template-columns: 40px 1fr 100px;
    grid-template-rows: 20px 1fr;
    padding: 12px;
    grid-column-gap: 10px;
  }
  &grid:hover {
    background: rgba($primary, 0.1);
    cursor: pointer;
  }
  &title,
  &description {
    font-family: $font;
    color: $secondary;
    opacity: 0.75;
  }

  &title {
    @include ellipsis;
    font-size: 0.875rem;
    font-weight: 600;
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &description {
    font-size: 0.75rem;
    grid-column: 2/4;
    grid-row: 2/3;
    line-height: 150%;
    .bold {
      color: $primary;
      font-weight: 600;
    }
  }

  &date {
    @extend .notification-card--description;
    @include ellipsis;
    opacity: 0.4;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: right;
  }

  &icon {
    width: 40px;
    height: 40px;
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
