.requestcover {
    position: absolute;
    width: 100%;
    height: 981px;
    left: 0px;
    top: 0px;

    background: rgba(13, 41, 56, 0.8);
    z-index: 1;

    cursor: default;
}

.request {
    position: absolute;
    width: 86.88%;
    height: 95.12%;
    left: 6.56%;
    top: 2.44%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    ::placeholder {
        color: rgba(43, 42, 40, 0.2);
      }
}

.request-- {
    
    &close {
        position: absolute;
        width: 20.23px;
        height: 20.23px;
        right: 0%;
        top: 0%;
    
        margin-right: 26px;
        margin-top: 22px;
    }
    
    &heading {
        position: absolute;
        width: 116px;
        height: 38px;
        left: 48%;
        top: 3.75%;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
    
        color: #2B2A28;
    }
    
    &underline {
        position: absolute;
        width: 80px;
        height: 0.05%;
        left: 48.90%;
        top: 9.32%;
    
        border: 1px solid #38A7DE;
    }
    
    &instructions {
        position: absolute;
        width: 65.34%;
        height: 150px;
        left: 17.32%;
        top: 14.78%;
    
        background: rgba(56, 167, 222, 0.275);
        border-radius: 2px;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
    
        color: #2B2A28;
    
        padding: 16px 24px 16px 16px;
    }
    
    &type {
        position: absolute;
        width: 96px;
        height: 19px;
        left: 18.75%;
        top: 36.86%;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    
        color: #2B2A28;
    }

    &filebutton- {

        &inactive {
            position: absolute;
            width: 121px;
            height: 36px;
            left: 18.75%;
            top: 40.61%;
        
            background: #FFFFFF;
            border: none;
            border-bottom: 4px solid rgba(56, 167, 222, 0.2);
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 10px;
        
            color: #2B2A28;
        }

        &active {
            position: absolute;
            width: 121px;
            height: 36px;
            left: 18.75%;
            top: 40.61%;
        
            background: rgba(56, 167, 222, 0.25);
            border: none;
            border-bottom: 4px solid #38A7DE;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 10px;
        
            color: #2B2A28;    
        }
    
   }
    
    &coursebutton- {

        &inactive {
            position: absolute;
            width: 121px;
            height: 36px;
            left: calc(18.75% + 121px);
            top: 40.61%;
        
            background: #FFFFFF;
            border: none;
            border-bottom: 4px solid rgba(56, 167, 222, 0.2);
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 10px;
            
            color: #2B2A28;
        }

        &active {
            position: absolute;
            width: 121px;
            height: 36px;
            left: calc(18.75% + 121px);
            top: 40.61%;
        
            background: rgba(56, 167, 222, 0.25);
            border: none;
            border-bottom: 4px solid #38A7DE;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 10px;
            
            color: #2B2A28;
        } 
    }

    &form-file {
        position: absolute;
        width: 67%;
        height: 40.5%;
        left: 19.5%;
        top: 46.18%;
    }

    &form-course {
        position: absolute;
        width: 66.5%;
        height: 30.328%;
        left: 19.5%;
        top: 46.18%;
    }

    &button-file {
        position: absolute;
        width: 94px;
        height: 41px;
        left: 0%;
        top: 87.056%;
    
        background: #38A7DE;
        border-radius: 2px;
        border: #38A7DE;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    
        color: #FFFFFF;
    }

    &button-course {
        position: absolute;
        width: 94px;
        height: 41px;
        left: 0%;
        top: 85.518%;
    
        background: #38A7DE;
        border-radius: 2px;
        border: #38A7DE;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    
        color: #FFFFFF;
    }
}

.file-- {

    &department {
        position: absolute;
        width: 87px;
        height: 21px;
        left: 0%;
        top: 0%;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-align: justify;
    
        color: #2B2A28;

        &-select {
            position: absolute;
            width: 252px;
            height: 36px;
            left: 0%;
            top: 7.673%;

            border: 1px solid #2B2A28;
            box-sizing: border-box;
            border-radius: 2px;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
        
            text-align: justify;
            padding-left: 8px;
        
            background: #FFFFFF;
        }
    }

    &course {
        position: absolute;
        width: 200px;
        height: 21px;
        left: 0%;
        top: 20.90%;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
    
        text-align: justify;
    
        color: rgba(43, 42, 40, 0.2);
    
        &-select {
            position: absolute;
            width: 252px;
            height: 36px;
            left: 0%;
            top: 28.57%;
        
            border: 1px solid #2B2A28;
            box-sizing: border-box;
            border-radius: 2px;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
        
            text-align: justify;
            padding-left: 8px;
        
            background: #FFFFFF;
        }

        &-select:disabled {
            border: 1px solid rgba(43, 42, 40, 0.2);
            box-sizing: border-box;
            border-radius: 2px;
          
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
          
            text-align: justify;
            padding-left: 8px;
            color: rgba(43, 42, 40, 0.2);
          
            background: #FFFFFF;
          }
    }
    
    &material {
        position: absolute;
        width: 98px;
        height: 19px;
        left: 0%;
        top: 44.45%;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    
        color: rgba(43, 42, 40, 0.2);

        &_tut {
            position: absolute;
            top: 52%;
            left: 0%;
            height: 15px;
            width: 15px;
        }
        
        &_books {
            position: absolute;
            top: 52%;
            left: 18.96%;
            height: 15px;
            width: 15px;
        }
        
        &_notes {
            position: absolute;
            top: 52%;
            left: 38.65%;
            height: 15px;
            width: 15px;
        }
        
        &_exam {
            position: absolute;
            top: 52%;
            left: 57.89%;
            height: 15px;
            width: 15px;
        }
    }

    &name {
        position: absolute;
        width: 44px;
        height: 21px;
        left: 0%;
        top: 63.50%;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
    
        text-align: justify;
    
        color: rgba(43, 42, 40, 0.2);

        &-input {
            position: absolute;
            width: 479px;
            height: 36px;
            left: 0%;
            top: 71.179%;
          
            border: 1px solid #2B2A28;
            box-sizing: border-box;
            border-radius: 2px;
            padding: 9px 12px 8px;
          
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
          
            text-align: justify;
          }

          &-input:disabled {
            border: 1px solid rgba(43, 42, 40, 0.2);
            box-sizing: border-box;
            border-radius: 2px;
            padding: 9px 12px 8px;
            background: #FFFFFF;
          }
    } 
}

.course-- {

    &department {
        position: absolute;
        width: 87px;
        height: 21px;
        left: 0%;
        top: 0%;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        text-align: justify;

        color: #2B2A28;

        &-input {
            position: absolute;
            width: 252px;
            height: 36px;
            left: 0%;
            top: 10.248%;
            
            border: 1px solid #2B2A28;
            box-sizing: border-box;
            border-radius: 2px;
    
            padding: 9px 12px 8px;
            background: #FFFFFF;
        }
    }

    &course {
        position: absolute;
        width: 200px;
        height: 21px;
        left: 0%;
        top: 27.91%;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;

        text-align: justify;

        color: rgba(43, 42, 40, 0.2);

        &-input {
            position: absolute;
            width: 252px;
            height: 36px;
            left: 0%;
            top: 38.165%;
    
            border: 1px solid #2B2A28;
            box-sizing: border-box;
            border-radius: 2px;
    
            padding: 9px 12px 8px;
            background: #FFFFFF;
        }

        &-input:disabled {
            border: 1px solid rgba(43, 42, 40, 0.2);
            box-sizing: border-box;
            border-radius: 2px;
        
            padding: 9px 12px 8px;
            background: #FFFFFF;
        }
    }

    &id {
        position: absolute;
        width: 72px;
        height: 19px;
        left: 0%;
        top: 55.1275%;

        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;

        color: rgba(43, 42, 40, 0.2);

        &-input {
            position: absolute;
            width: 86px;
            height: 36px;
            left: 0%;
            top: 64.315%;
    
            background: #FFFFFF;
            border: 1px solid #2B2A28;
            box-sizing: border-box;
            border-radius: 2px;
    
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
    
            padding: 9px 12px 8px;
            color: #2B2A28;
        }
    
        &-input:disabled {
            background: #FFFFFF;
            border: 1px solid rgba(43, 42, 40, 0.2);
            box-sizing: border-box;
            border-radius: 2px;
    
            padding: 9px 12px 8px;
            color: rgba(43, 42, 40, 0.2);
        }
    }   
}

.tut {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 3%;
    top: 51.86%;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(43, 42, 40, 0.2);
}

.books {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 21.96%;
    top: 51.86%;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(43, 42, 40, 0.2);
}

.notes {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 41.65%;
    top: 51.86%;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(43, 42, 40, 0.2);
}

.exam {
    position: absolute;
    width: 250px;
    height: 19px;
    left: 60.89%;
    top: 51.86%;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(43, 42, 40, 0.2);
}

button:focus {
    outline: none;
}

button:hover, .request--close:hover {
    cursor: pointer;
}