@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.requestcover {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 26.5625rem;
  top: 0rem;
  background: rgba(13, 41, 56, 0.8);
  z-index: 1;
  cursor: default;

  ::-webkit-scrollbar {
    width: 0.5625rem;
  }

  ::-webkit-scrollbar-track {
    background: #1a4d68;
  }

  ::-webkit-scrollbar-thumb {
    background: #236385;
    border-radius: 1.125rem;
  }
}

.request {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 86.88%;
  height: 95.12%;
  left: 6.56%;
  top: 2.44%;
  background: $white;
  box-shadow: 0rem 0.25rem 0.25rem rgba($black, 0.25);
  overflow-y: auto;
  border-radius: 0.125rem;
  scrollbar-width: 0rem;

  ::placeholder {
    color: rgba($font-color, 0.2);
  }
}

.request-- {
  &close {
    position: absolute;
    width: 1.264375rem;
    height: 1.264375rem;
    right: 0%;
    top: 0%;
    margin-right: 1.625rem;
    margin-top: 1.375rem;
  }

  &loader {
    margin-left: 0.25rem;
    animation: rotation 1s infinite linear;
  }

  &heading {
    width: 7.25rem;
    height: 2.375rem;
    align-self: center;
    margin-top: 1.1875rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3125rem;
    color: $font-color;
  }

  &underline {
    width: 5rem;
    height: 0.05%;
    align-self: center;
    margin-top: 0.625rem;
    border: 0.0425rem solid $primary;
  }

  &instructions {
    width: 63.34%;
    height: auto;
    margin-left: 17%;
    margin-top: 2.125rem;
    background: rgba($primary, 0.275);
    border-radius: 0.125rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: justify;
    color: $font-color;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  &type {
    width: 6rem;
    height: 1.1875rem;
    margin-top: 2.25rem;
    margin-left: 18%;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: $font-color;
  }

  &filebutton- {
    &inactive {
      width: 7.5625rem;
      height: 2.25rem;
      margin-left: 18%;
      margin-top: 1rem;
      background: $white;
      border: none;
      border-bottom: 0.25rem solid rgba($primary, 0.2);
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 0.625rem;
      color: $font-color;
    }

    &active {
      width: 7.5625rem;
      height: 2.25rem;
      margin-left: 18%;
      margin-top: 1rem;
      background: rgba($primary, 0.25);
      border: none;
      border-bottom: 0.25rem solid $primary;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 0.625rem;
      color: $font-color;
    }
  }

  &coursebutton- {
    &inactive {
      width: 7.5625rem;
      height: 2.25rem;
      background: $white;
      border: none;
      border-bottom: 0.2rem solid rgba($primary, 0.2);
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 0.625rem;
      color: $font-color;
    }

    &active {
      width: 7.5625rem;
      height: 2.25rem;
      background: rgba($primary, 0.25);
      border: none;
      border-bottom: 0.25rem solid $primary;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 0.625rem;
      color: $font-color;
    }
  }

  &form-file {
    display: flex;
    flex-direction: column;
    width: 67%;
    height: 40.5%;
    margin-left: 19%;
  }

  &form-course {
    display: flex;
    flex-direction: column;
    width: 66.5%;
    height: 30.328%;
    margin-left: 19%;
  }

  &button-file {
    display: block;
    width: 5.875rem;
    height: 2.5625rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    background: $primary;
    border-radius: 0.125rem;
    border: $primary;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.5625rem;
    text-align: center;
    color: $white;
    cursor: pointer;
  }

  &button-file_requesting {
    width: 8.25rem;
    height: 2.5625rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    background: $primary;
    border-radius: 0.125rem;
    border: $primary;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.5625rem;
    text-align: center;
    color: $white;
    cursor: pointer;
  }

  &button-file_requested {
    width: 8.25rem;
    height: 2.5625rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    background: $primary;
    border-radius: 0.125rem;
    border: $primary;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.5625rem;
    text-align: center;
    color: $white;
    cursor: pointer;
  }

  &button-course {
    display: block;
    width: 5.875rem;
    height: 2.5625rem;
    margin-top: 1.5rem;
    background: $primary;
    border-radius: 0.125rem;
    border: $primary;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: $white;
  }

  &confirmation {
    margin-top: 1.5rem;

    &-text {
      margin-left: 0.5rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $success;
      opacity: 0.8;
    }

    &-activity {
      margin-left: 0.75rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: $font-color;
    }
  }
}

.file-- {
  &department {
    width: 5.4375rem;
    height: 1.3125rem;
    margin-top: 1rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: justify;
    color: $font-color;

    &-select {
      width: 15.75rem;
      height: 2.25rem;
      margin-top: 0.5rem;
      border: 1px solid $font-color;
      box-sizing: border-box;
      border-radius: 0.125rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.3125rem;
      text-align: justify;
      padding-left: 0.5rem;
      background: $white;
    }

    &-select:disabled {
      border: 0.0625rem solid rgba($font-color, 0.2);
      box-sizing: border-box;
      border-radius: 0.125rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.3125rem;
      text-align: justify;
      padding-left: 0.5rem;
      background: $white;
      color: rgba($font-color, 0.2);
    }
  }

  &course {
    width: 12.5rem;
    height: 1.3125rem;
    margin-top: 1.5rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: justify;
    color: rgba($font-color, 0.2);

    &-select {
      width: 15.75rem;
      height: 2.25rem;
      margin-top: 0.5rem;
      border: 0.0625rem solid $font-color;
      box-sizing: border-box;
      border-radius: 0.125rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.3125rem;
      text-align: justify;
      padding-left: 0.5rem;
      background: $white;
    }

    &-select:disabled {
      border: 0.0625rem solid rgba($font-color, 0.2);
      box-sizing: border-box;
      border-radius: 0.125rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.3125rem;
      text-align: justify;
      padding-left: 0.5rem;
      color: rgba($font-color, 0.2);
      background: $white;
    }
  }

  &material {
    width: 6.125rem;
    height: 1.1875rem;
    margin-top: 1.5rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: rgba($font-color, 0.2);

    &material--container {
      position: relative;
    }

    &_tut {
      position: relative;
      top: 0;
      height: 0.9375rem;
      width: 0.9375rem;
      margin-top: 0.5625rem;
    }

    &_books {
      position: relative;
      top: -2.125rem;
      margin-left: 18%;
      height: 0.9375rem;
      width: 0.9375rem;
    }

    &_notes {
      position: relative;
      top: -4.35rem;
      margin-left: 36%;
      height: 0.9375rem;
      width: 0.9375rem;
    }

    &_exam {
      position: relative;
      top: -6.575rem;
      margin-left: 54%;
      height: 0.9375rem;
      width: 0.9375rem;
    }
  }

  &name {
    width: 2.75rem;
    height: 1.3125rem;
    margin-top: -7rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: justify;
    color: rgba($font-color, 0.2);

    &-input {
      width: 29.9375rem;
      height: 2.25rem;
      margin-top: 0.5rem;
      border: 0.0625rem solid $font-color;
      box-sizing: border-box;
      border-radius: 0.125rem;
      padding: 0.5625rem 0.75rem 0.5rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.3125rem;
      text-align: justify;
    }

    &-input:disabled {
      border: 0.0625rem solid rgba($font-color, 0.2);
      box-sizing: border-box;
      border-radius: 0.125rem;
      padding: 0.5625rem 0.75rem 0.5rem;
      background: $white;
      color: rgba($font-color, 0.2);
    }
  }
}

.course-- {
  &department {
    width: 5.4375rem;
    height: 1.3125rem;
    margin-top: 1.6875rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: justify;
    color: $font-color;

    &-input {
      width: 15.75rem;
      height: 2.25rem;
      margin-top: 0.5rem;
      border: 0.0625rem solid $font-color;
      box-sizing: border-box;
      border-radius: 0.125rem;
      padding: 0.5625rem 0.75rem 0.5rem;
      background: $white;
    }
  }

  &course {
    width: 12.5rem;
    height: 1.3125rem;
    margin-top: 1rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: justify;
    color: rgba($font-color, 0.2);

    &-input {
      width: 15.75rem;
      height: 2.25rem;
      margin-top: 0.5rem;
      border: 0.0625rem solid $font-color;
      box-sizing: border-box;
      border-radius: 0.125rem;
      padding: 0.5625rem 0.75rem 0.5rem;
      background: $white;
    }

    &-input:disabled {
      border: 0.0625rem solid rgba($font-color, 0.2);
      box-sizing: border-box;
      border-radius: 0.125rem;
      padding: 0.5625rem 0.75rem 0.5rem;
      background: $white;
    }
  }

  &id {
    width: 4.5rem;
    height: 1.1875rem;
    margin-top: 1.5rem;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: rgba($font-color, 0.2);

    &-input {
      width: 5.375rem;
      height: 2.25rem;
      margin-top: 0.5rem;
      background: $white;
      border: 0.0625rem solid $font-color;
      box-sizing: border-box;
      border-radius: 0.125rem;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.1875rem;
      padding: 0.5625rem 0.75rem 0.5rem;
      color: $font-color;
    }

    &-input:disabled {
      background: $white;
      border: 0.0625rem solid rgba($font-color, 0.2);
      box-sizing: border-box;
      border-radius: 0.125rem;
      padding: 0.5625rem 0.75rem 0.5rem;
      color: rgba($font-color, 0.2);
    }
  }
}

.tut {
  position: relative;
  top: -0.9375rem;
  width: 3.9375rem;
  height: 1.1875rem;
  margin-left: 5%;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgba($font-color, 0.2);
}

.books {
  position: relative;
  width: 3.9375rem;
  height: 1.1875rem;
  top: -3.0625rem;
  margin-left: 23%;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgba($font-color, 0.2);
}

.notes {
  position: relative;
  width: 3.9375rem;
  height: 1.1875rem;
  top: -5.2875rem;
  margin-left: 41%;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgba($font-color, 0.2);
}

.exam {
  position: relative;
  width: 15.625rem;
  height: 1.1875rem;
  top: -7.6125rem;
  margin-left: 59%;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375rem;
  color: rgba($font-color, 0.2);
}

button:focus {
  outline: none;
}

button:hover,
.request--close:hover {
  cursor: pointer;
}
