.file-- {
  &card {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: 25% 25% 25% 25%;
    color: $font-color;
  }
  &card:hover {
    color: $primary;
    cursor: pointer;
  }
  &card- {
    &icon {
      grid-column: 1 / span 1;
      grid-row: 1 / span 4;
      justify-self: center;
      align-self: center;
      padding-top: 0.9375rem;
    }
    &heading {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      align-self: center;
      font-family: $font;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1rem;
    }
    &info {
      grid-row: 3 / span 1;
      grid-column: 2 / span 1;
      align-self: center;
      &_name {
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 0.75rem;
        line-height: 0.875rem;
      }
      &_course {
        font-family: $font;
        font-style: normal;
        font-weight: bold;
        font-size: 0.75rem;
        line-height: 0.875rem;
        margin-left: 0.25rem;
      }
    }
    &detail {
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
      align-self: center;
      &_date {
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 0.6875rem;
        line-height: 0.8125rem;
        color: rgba($font-color, 0.4);
      }
      &_type {
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 0.6875rem;
        line-height: 0.8125rem;
        color: rgba($font-color, 0.4);
        margin-left: 0.25rem;
      }
    }
  }
}
