.search {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.search-- {
    &bar {
        display: flex;
        flex-direction: row;
        height: 2.560625rem;
        width: auto;
        box-sizing: border-box;

        &-input {
            height: 100%;
            width: 75%;
            padding-left: 1rem;
            background: #FFFFFF;
            border-radius: 0.125rem;
            border: #FFFFFF;

            &_holder {
                height: auto;
                width: 100%;
                margin-top: 0.5rem;
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                color: #2B2A28;
                border: #FFFFFF;
                outline: none;
            }
        }

        &-icon {
            width: 2.560625rem;
            height: 100%;
            background: #0D2938;
            border: #0D2938;
            border-radius: 0.125rem;
        }
    }

    &bar_home {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 97.6%;
        height: 3rem;
        font-size: 1rem;
        line-height: 3rem;
        outline: none;
        background: #FFFFFF;
        padding-left: 1rem;
        border: white;
        border-radius: 0.25rem;
        box-sizing: border-box;
    }

    &bar {
        &-input_home {
            height: 100%;
            width: 75%;
            padding-left: 1rem;
            background: #FFFFFF;
            border-radius: 0.125rem;
            border: #FFFFFF;
        }

        &-input_holder_home {
            height: auto;
            width: 100%;
            margin-top: 0.5rem;
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
            color: #2B2A28;
            border: #FFFFFF;
            outline: none;
        }

        &-icon_home {
            width: 3.09375rem;
            height: 100%;
            background: #FFFFFF;
            border: white;
            border-radius: 0.25rem;
        }
    }

    &container {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 600px;
        height: 22.875rem;
        background: #FFFFFF;
        box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(0, 0, 0, 0.15);
        z-index: 1;
        overflow-y: scroll;
        text-align: start;
    }

    &file {
        width: 100%;
        height: 1.625rem;
        left: 0%;
        background: rgba(56, 167, 222, 0.275);
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5625rem;
        color: #0D2938;
        text-align: center;
        &-holder {
            width: 96%;
            padding-left: 2%;
            padding-right: 2%;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 33% 33% 33%;
        }
        &-seeall {
            width: 2.625rem;
            height: 1.0625rem;
            margin-left: 87.69%;
            margin-bottom: 1rem;
            margin-top: 1rem;
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 1rem;
            color: #38A7DE;
        }
        &-seeall:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        &-noresults {
            display: flex;
            flex-direction: row;
            padding-right: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            margin-left: 1rem;
            &_icon {
                width: 1.5rem;
                height: 1.5rem;
            }
            &_text {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.1875rem;
                color: rgba(43, 42, 40, 0.8);
            }
            &_requestfile {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.1875rem;
                color: #38A7DE;
            }
            &_requestfile:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            &-outer {
                margin-left: 1%;
            }
        }
    }

    &courses {
        width: 100%;
        height: 1.625rem;
        background: rgba(56, 167, 222, 0.275);
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5625rem;
        color: #0D2938;
        text-align: center;
        &-name {
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 1rem;
            color: #2B2A28;
            padding: 0.75rem 1.5rem 0.75rem;
            border-bottom: 0.0625rem solid rgba(65, 64, 66, 0.2);
        }
        &-name:hover {
            cursor: pointer;
        }
        &-noresults {
            display: flex;
            flex-direction: row;
            padding-right: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            margin-left: 1rem;
            &_icon {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.225rem;
            }
            &_text {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.1875rem;
                color: rgba(43, 42, 40, 0.8);
            }
            &_requestcourse {
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.1875rem;
                color: #38A7DE;
            }
            &_requestcourse:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            &-outer {
                margin-left: 1%;
            }
        }
    }

    &department {
        width: 100%;
        height: 1.625rem;
        background: rgba(56, 167, 222, 0.275);
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 1.5625rem;
        color: #0D2938;
        text-align: center;
        &-name {
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 1rem;
            color: #2B2A28;
            padding: 0.75rem 1.5rem 0.75rem;
            border-bottom: 0.0625rem solid rgba(65, 64, 66, 0.2);
        }
        &-name:hover {
            cursor: pointer;
        }
        &-noresults {
            display: flex;
            flex-direction: row;
            padding-right: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            margin-left: 1rem;
            &_icon {
                width: 1.5rem;
                height: 1.5rem;
            }
            &_text {
                margin-left: 1%;
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 1rem;
                line-height: 1.1875rem;
                color: rgba(43, 42, 40, 0.8);
            }
        }
    }
}