.sidebar {
    position: absolute;
    width: 424px;
    height: 908px;
    left: 0px;
    top: 73px;

    background: #0D2938;
    overflow-x: none;

    cursor: default;
    z-index: 1;

    ::-webkit-scrollbar {
        width: 9px;
    }
    
    ::-webkit-scrollbar-track {
        background: #1A4D68;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #236385;
        border-radius: 18px;
    }
}

.sidebar-- {

    &course {
        position: absolute;
        width: 200px;
        height: 22px;
        left: 36px;
        top: 58px;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
    
        color: #FFFFFF;
    }

    &back {
        position: absolute;
        width: 100px;
        height: 17px;
        left: 36px;
        top: 88px;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    
        color: #38A7DE;
    }

    &course-name {
        position: absolute;
        width: 424px;
        height: 19px;
        left: 0px;
        top: 152px;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
    
    
        color: #FFFFFF;
    }

    &course-table {
        width: 424px;
        height: 415px;
        border-top: 2px solid #1A4D68;
    
        overflow-y: auto;
        overflow-x: hidden;
    }

    &course-table_logout {
        width: 424px;
        height: 754px;
        border-top: 2px solid #1A4D68;
    
        overflow-y: auto;
        overflow-x: hidden;
    }

    &form-cover {
        position: absolute;
        width: 100%;
    }

    &form- {

        &header {
            position: absolute;
            width: 94px;
            height: 22px;
            left: 36px;
            top: 629.96px;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
        
            color: #38A7DE;

            &_department {
                position: absolute;
                width: 87px;
                height: 19px;
                left: 38px;
                top: 667.96px;
            
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
            
                color: #FFFFFF;
            }

            &_course {
                position: absolute;
                width: 98px;
                height: 19px;
                left: 36px;
                top: 746.96px;
            
                font-family: Droid Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
            
                color: #FFFFFF;
            }
        }
        
        &select {
            &_department {
                position: absolute;
                width: 266px;
                height: 36px;
                left: 38px;
                top: 694.96px;
            
                background: #FFFFFF;
                border-radius: 2px;
            }

            &_course {
                position: absolute;
                width: 266px;
                height: 36px;
                left: 38px;
                top: 773.96px;
            
                background: #FFFFFF;
                border-radius: 2px;
            }
        }
         
        &button {
            position: absolute;
            width: 123px;
            height: 36px;
            left: 36px;
            top: 833.96px;
        
            background: #38A7DE;
            border-radius: 2px;
            border: #38A7DE;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
        
            color: #FFFFFF;
        }
    }

    &back, &button {
        cursor: pointer;
    }
}




