.sidebar {
  @include position;
  width: 26.5rem;
  height: calc(100% - 4.5625rem);
  min-height: 22rem;
  left: 0rem;
  top: 4.5625rem;
  background: $secondary;
  overflow-x: none;

  cursor: default;
  z-index: 0;

  ::-webkit-scrollbar {
    width: 0.5625rem;
  }

  ::-webkit-scrollbar-track {
    background: $sidebar-scroll-primary;
  }

  ::-webkit-scrollbar-thumb {
    background: $sidebar-scroll-secondary;
    border-radius: 1.125rem;
  }

  .back {
    @include font;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $primary;
  }
}

.sidebar_login {
  @include position;
  justify-content: space-between;
  width: 26.5rem;
  height: calc(100% - 4.5625rem);
  left: 0rem;
  top: 4.5625rem;
  background: $secondary;
  overflow-x: none;

  cursor: default;
  z-index: 1;

  ::-webkit-scrollbar {
    width: 0.5625rem;
  }

  ::-webkit-scrollbar-track {
    background: #1a4d68;
  }

  ::-webkit-scrollbar-thumb {
    background: #236385;
    border-radius: 1.125rem;
  }

  .back {
    @include font;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $primary;
  }
}

.sidebar-- {
  &course {
    width: 22.5rem;
    margin-top: 2.375rem;
    margin-left: 2.25rem;
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: $white;
  }

  &coursecontent {
    height: auto;
    margin-bottom: 2.25rem;
  }

  &back {
    height: 1.0625rem;
    margin-top: 0.5rem;
    margin-left: 2.25rem;
  }

  &course-name {
    @include font;
    width: 100%;
    height: 1.1875rem;
    margin-top: 2.1875rem;
    line-height: 1.1875rem;
    color: $white;
  }

  &course-table {
    width: 100%;
    height: calc(100vh - 31.4375rem);
    border-top: 0.125rem solid #1a4d68;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &course-table_logout {
    width: 100%;
    height: calc(100vh - 13.25rem);
    border-top: 0.125rem solid #1a4d68;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &form-cover {
    display: flex;
    flex-direction: column;
    padding-left: 2.25rem;
    width: auto;
  }

  &form- {
    &header {
      @include font;
      width: auto;
      height: 1.375rem;
      margin-bottom: 1.0625rem;
      font-size: 1.125rem;
      line-height: 1.3125rem;
      color: $primary;

      &_department {
        @include font;
        width: 5.4375rem;
        height: 1.1875rem;
        margin-bottom: 0.5rem;
        color: $white;
      }

      &_course {
        @include font;
        width: 6.125rem;
        height: 1.1875rem;
        margin-bottom: 0.5rem;
        color: $white;
      }
    }

    &select {
      &_department {
        @include font;
        width: 16.625rem;
        height: 2.25rem;
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        background: $white;
        border-radius: 0.125rem;
      }

      &_course {
        @include font;
        width: 16.625rem;
        height: 2.25rem;
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        background: $white;
        border-radius: 0.125rem;
      }
    }

    &button {
      margin-bottom: 1.75rem;

      button {
        @include font;
        width: 7.6875rem;
        height: 2.25rem;
        background: $primary;
        border-radius: 0.125rem;
        border: $primary;
        color: $white;
      }
    }
  }

  &back,
  &button {
    cursor: pointer;
  }
}

.hidden {
  display: none;
}
