.subjectcard {
  position: relative;
  width: 15.8125rem;
  height: 10rem;
  justify-items: center;
  align-items: center;
}

.subjectcard-- {
  &image {
    width: 13.3125rem;
    height: 8.125rem;
    transition: all 0.1s ease-in;
    padding: 0.9375rem 0rem 0.9375rem 0rem;

    &-hover {
      cursor: pointer;
      transition: all 0.1s ease-in;
      transform: scale(1.11267606,1.18461538);

      background: #1E85B8;
      mix-blend-mode: multiply;
      box-shadow: 0px 0.25rem 0.25rem rgba(13, 41, 56, 0.15);
      border-radius: 0.125rem;
      padding: 0.1875rem 0rem 0.1875rem 0rem;
      margin-top: 0.7rem;
    }
  }

  &cover {
    position: absolute;
    width: 13.3125rem;
    height: 8.125rem;
    left: 0rem;
    top: 0.9375rem;
    transition: all 0.1s ease-in;

    background: #196F99;
    mix-blend-mode: multiply;
    border-radius: 2px;

    &-hover {
      position: absolute;
      width: 14.8125rem;
      height: 9.9rem;
      left: -0.75rem;
      top: 0rem;
      transition: all 0.1s ease-in;

      background: #1E85B8;
      mix-blend-mode: multiply;
      border-radius: 2px;
    }
  }

  &text {
    position: absolute;
    top: 0.9375rem;
    left: 0.9853125rem;
    width: 11.341875rem;
    height: 8.125rem;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    text-align: center;
    justify-items: center;
    align-items: center;

    color: #FFFFFF;

    &-hold {
      text-align: center;
      width: inherit;
    }
  }
}
