.subjectcard--image:hover {
    cursor: pointer;
    width: 14.8125rem;
    height: 9.625rem;

    background: #1E85B8;
    mix-blend-mode: multiply;
    box-shadow: 0px 0.25rem 0.25rem rgba(13, 41, 56, 0.15);
    border-radius: 0.125rem;
}