.uploadcover {
    position: absolute;
    width: 100%;
    height: 981px;
    left: 0px;
    top: 0px;

    background: rgba(13, 41, 56, 0.8);
    z-index: 1;

    cursor: default;
}

.upload {
    position: absolute;
    width: 86.88%;
    height: 95.12%;
    left: 6.56%;
    top: 2.44%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    .form-- {

        &department {
            position: absolute;
            width: 87px;
            height: 21px;
            left: 0%;
            top: 0%;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
            text-align: justify;
        
            color: #2B2A28;
        }
        
        &department-select {
            position: absolute;
            width: 252px;
            height: 36px;
            left: 0%;
            top: 9.03%;
            
            border: 1px solid #2B2A28;
            box-sizing: border-box;
            border-radius: 2px;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
        
            text-align: justify;
            padding-left: 8px;
        
            background: #FFFFFF;
        }
        
        &course {
            position: absolute;
            width: 200px;
            height: 21px;
            left: 0%;
            top: 24.615%;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
        
            text-align: justify;
        
            color: rgba(43, 42, 40, 0.2);
        
        }
        
        &course-select {
            position: absolute;
            width: 252px;
            height: 36px;
            left: 0%;
            top: 33.644%;
        
            border: 1px solid #2B2A28;
            box-sizing: border-box;
            border-radius: 2px;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 21px;
        
            text-align: justify;
            padding-left: 8px;
        
            background: #FFFFFF;
        }
        
        &course-select:disabled {
          border: 1px solid rgba(43, 42, 40, 0.2);
          box-sizing: border-box;
          border-radius: 2px;
        
          font-family: Droid Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
        
          text-align: justify;
          padding-left: 8px;
          color: rgba(43, 42, 40, 0.2);
        
          background: #FFFFFF;
        }
        
        &material-type {
            position: absolute;
            width: 98px;
            height: 19px;
            left: 0%;
            top: 52.33%;
        
            font-family: Droid Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
        
            color: rgba(43, 42, 40, 0.2);
        }
    }

    br {
        line-height: 225%;
    }
}

.upload-- {

    &close {
        position: absolute;
        width: 20.23px;
        height: 20.23px;
        right: 0%;
        top: 0%;
    
        margin-right: 26px;
        margin-top: 22px;
    }
    
    &heading {
        position: absolute;
        width: 116px;
        height: 38px;
        left: calc(50% - 58px);
        top: 5.35%;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 37px;
    
        color: #2B2A28;
    }
    
    &underline {
        position: absolute;
        width: 80px;
        height: 0.5px;
        left: calc(45% - 40px);
        top: 100%;
    
        border: 1px solid #38A7DE;
    }
    
    &instruction {
        position: absolute;
        width: 100%;
        height: 150px;
        left: 0%;
        top: 0%;
    
        background: rgba(56, 167, 222, 0.275);
        border-radius: 2px;
    
        font-family: Droid Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
    
        color: #2B2A28;
    
        padding: 16px 24px 16px 16px;

        &-head {
            font-family: Droid Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
        
            color: #2B2A28;
        }
        
        &-body {
            margin-top: 12px;
            margin-bottom: 20px;
        }
    }
    
    &form {
        position: absolute;
        width: 100%;
        height: 321px;
        left: 1.5%;
        top: 42.654%;
    }

    &file {
        position: absolute;
        width: 1000px;
        height: 36px;
        left: 0%;
        top: 74.766%;
    }

    &header {
        position: absolute;
        width: 116px;
        height: 48px;
        left: 48%;
        top: 5.35%;
    }

    &main {
        position: absolute;
        width: 65.34%;
        height: 522px;
        left: 17.32%;
        top: 14.788%;
    }

    &close:hover {
        cursor: pointer;
    }
}

._tut {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 3%;
    top: 196px;
  
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  
    color: rgba(43, 42, 40, 0.2);
  }
  
  ._books {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 21.96%;
    top: 196px;
  
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  
    color: rgba(43, 42, 40, 0.2);
  }
  
  ._notes {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 41.65%;
    top: 196px;
  
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  
    color: rgba(43, 42, 40, 0.2);
  }
  
  ._exam {
    position: absolute;
    width: 250px;
    height: 19px;
    left: 60.89%;
    top: 196px;
  
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  
    color: rgba(43, 42, 40, 0.2);
  }

._check_tut {
    position: absolute;
    top: 61.65%;
    left: 0%;
    height: 15px;
    width: 15px;
}

._check_books {
    position: absolute;
    top: 61.65%;
    left: 18.96%;
    height: 15px;
    width: 15px;
}

._check_notes {
    position: absolute;
    top: 61.65%;
    left: 38.65%;
    height: 15px;
    width: 15px;
}

._check_exam {
    position: absolute;
    top: 61.65%;
    left: 57.89%;
    height: 15px;
    width: 15px;
}

