.usermenu {
  display: flex;
  flex-direction: column;
  width: 6.125rem;
  height: auto;
  align-items: center;
  margin-left: -3.5625rem;
  margin-right: -3.0625rem;
}

.usermenu-- {
  &container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &polygon {
    width: 0.886875rem;
    height: 0.699375rem;
    border-radius: 0.125rem;
  }

  &cover {
    display: flex;
    flex-direction: column;
    width: 6.125rem;
    height: 11.5rem;
    background: #FFFFFF;
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #2B2A28;
    text-align: start;
    padding-left: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
  }

  &request {
    margin-top: 0.61rem;
  }

  &upload {
    margin-top: 1rem;
  }

  &activitylog {
    margin-top: 1rem;
  }

  &profile {
    margin-top: 1rem;
  }

  &logout {
    margin-top: 1rem;
  }

  &image, &request, &upload, &activitylog, &profile, &logout {
    cursor: pointer;
  }
}
