.usermenu {
  display: flex;
  flex-direction: column;
  width: 6.125rem;
  height: auto;
  align-items: center;
  margin-left: -3.5625rem;
  margin-right: -3.0625rem;
}

.usermenu-- {
  &container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &image {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;

    &-profile {
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.25rem;
    }
  }

  &polygon {
    width: 0.886875rem;
    height: 0.699375rem;
    border-radius: 0.125rem;
  }

  &cover {
    display: flex;
    flex-direction: column;
    width: 6.125rem;
    height: 11.5rem;
    background: $white;
    font-family: $font;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: $font-color;
    text-align: start;
    padding-left: 1rem;
    box-shadow: 1px 1px 4px rgba($black, 0.15);
  }

  &request {
    margin-top: 0.61rem;
  }

  &upload {
    margin-top: 1rem;
  }

  &activitylog {
    margin-top: 1rem;
  }

  &profile {
    margin-top: 1rem;
  }

  &logout {
    margin-top: 1rem;
  }

  &image,
  &request,
  &upload,
  &activitylog,
  &profile,
  &logout {
    cursor: pointer;
  }
}
