.usermenu {
  display: flex;
  flex-direction: column;
  width: 6.125rem;
  height: auto;
  align-items: center;
  margin-left: -3.5625rem;
  margin-right: -3.0625rem;
}

.usermenu-- {
  &container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &image {
    @include font;
    text-align: center;
    font-size: 0.875rem;

    &-profile {
      border-radius: 50%;
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 0.25rem;
    }
  }

  &polygon {
    width: 0.886875rem;
    height: 0.699375rem;
    border-radius: 0.125rem;
  }

  &cover {
    @include font;
    display: flex;
    flex-direction: column;
    width: 6.125rem;
    height: 11.5rem;
    background: $white;
    text-align: start;
    padding-left: 1rem;
    box-shadow: 0.0625rem 0.0625rem 0.25rem rgba($black, 0.15);
  }

  &request {
    margin-top: 0.61rem;
  }

  &upload,
  &activitylog,
  &profile,
  &logout {
    margin-top: 1rem;
  }

  &image,
  &request,
  &upload,
  &activitylog,
  &profile,
  &logout {
    cursor: pointer;
  }
}
