$primary: #38a7de;
$secondary: #0d2938;

$font: 'Open Sans';
$font-header: 'Nunito Sans';
$font-color: #2b2a28;
$border: rgba(65, 64, 66, 0.2);

$hold: #f2c94c;
$success: #2f7f2e;

$scroll-primary: #88caeb;
$scroll-secondary: #629ebd;
$sidebar-scroll-primary: #1a4d68;
$sidebar-scroll-secondary: #236385;

$black: #000000;
$white: #ffffff;
