@import './reset.scss';
@import './fonts.scss';

.header_home {
    background: url(../assets/landing_header.jpeg);
    background-size: contain;
    height: 391px;
    width: 100%;
    text-align: center;
}

.sds_logo {
    position: absolute;
    left: 9.22%;
    bottom: 90.49%;
}

.logo {
    position: absolute;
    left: 50.2%;
    bottom: 83.62%;
}

.studyportal {
    position: absolute;
    width: 17.5%;
    height: 36px;
    left: 44%;
    top: 16.3%;

    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;

    color: #2B2A28;
}

._search {
    position: absolute;
    width: 30.41%;
    height: 48px;
    left: 36%;
    top: 231px;

    background: #FFFFFF;
}

.search_bar {
    position: absolute;
    width: 97.6%;
    height: 48px;
    left: 0%;
    top: 0px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    background: #FFFFFF;
    border-radius: 4px;
    padding-left: 16px;
    border: white;
}

.search {
    position: absolute;
    width: 9.6%;
    height: 49.5px;
    left: 97.7%;
    top: 0px;

    border-radius: 4px;
    background: #FFFFFF;
    border: white;
}

.request {
    position: absolute;
    width: 6.5%;
    height: 41px;
    left: 46%;
    top: 314px;

    background: #24698b;
    border-radius: 2px;
    border: #24698b;
    color: #FFFFFF;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 10px;
}

.upload {
    position: absolute;
    width: 6.5%;
    height: 41px;
    left: 53%;
    top: 314px;

    background: #24698b;
    border-radius: 2px;
    border: #24698b;
    color: #FFFFFF;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    line-height: 25px;
}

.req_img, .uplo_img {
    vertical-align: middle;
}

.login {
    position: absolute;
    width: 6.3%;
    height: 41px;
    left: 79.17%;
    top: 36px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #0d2938;
    background: transparent;
    border: none;
}

.signup {
    position: absolute;
    width: 121px;
    height: 41px;
    left: 84.37%;
    top: 36px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    background: #0d2938;
    border-radius: 4px;
    border: #0d2938;

    color: #FFFFFF;
}

.search:hover, .request:hover, .upload:hover, .login:hover, .signup:hover {
    cursor: pointer;
}

.search:focus, .login:focus, .signup:focus {
    outline: none;
}

