@import './reset.scss';
@import './fonts.scss';

.header {
    position: absolute;
    width: 100%;
    height: 73px;
    left: 0%;
    top: 0%;

    background: #38A7DE;
    border: 1px solid #38A7DE;
    box-sizing: border-box;

    cursor: default;
}

.head_logo {
    position: absolute;
    left: 2.71%;
    right: 93.77%;
    top: 15%;
    bottom: 92.52%;
}

.head_name {
    position: absolute;
    width: 7.82%;
    height: 21px;
    left: 6.2%;
    top: 33.16%;

    font-family: Sansation;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;

    color: #0D2938;
}

.search_head {
    position: absolute;
    width: 24.46%;
    height: 32px;
    left: 16.5%;
    top: 15px;

    padding: 4px;
    padding-left: 7px;
    background: #FFFFFF;
    border-radius: 2px;
    border: #FFFFFF;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #9DB5B2;
}

.search_icon {
    position: absolute;
    width: 40.97px;
    height: 41px;
    left: 41.51%;
    top: 15px;

    background: #0D2938;
    border: #0D2938;
    border-radius: 2px;
}

.request_head {
    position: absolute;
    width: 57.96px;
    height: 38px;
    left: 53.98%;
    top: 25px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #0D2938;
}

.upload_head {
    position: absolute;
    width: 51.96px;
    height: 19px;
    left: 58.67%;
    top: 25px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #0D2938;
}

.mentors {
    position: absolute;
    width: 120px;
    height: 38px;
    left: 63.04%;
    top: 25px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #0D2938;

}

.login_head {
    position: absolute;
    width: 38.97px;
    height: 38px;
    left: 85.94%;
    top: 17px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #0D2938;
    background: transparent;
    border: none;
}

.signup_head {
    position: absolute;
    width: 79.94px;
    height: 41px;
    left: 90.10%;
    top: 15px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #0D2938;


    border: 1px solid #0D2938;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
}

.notif {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 89.71%;
    top: 23px;

    background: #0D2938;
    border-radius: 2px;
}

.notif_img {
    position: absolute;
    left:29%;
    right: 9.96%;
    top: 31%;
    bottom: 30%;
}

.notif_no {
    position: absolute;
    width: 7px;
    height: 13px;
    left: 58%;
    top: 8.5%;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;

    color: #FFFFFF;
}

.img_user {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 93.4%;
    top: 16px;

    border-radius: 2px;
}

.search_icon:hover, .request_head:hover, .upload_head:hover, .mentors:hover, .login_head:hover, .signup_head:hover, .notif:hover, .img_user:hover {
    cursor: pointer;
}

.login_head:focus, .signup_head:focus {
    outline: none;
}