@import './reset.scss';
@import './fonts.scss';

.req_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgba(13, 41, 56, 0.8);
    z-index: 1;

    cursor: default;
}

.req_div {
    position: absolute;
    width: 86.88%;
    height: 95.12%;
    left: 6.56%;
    top: 2.44%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.close_req {
    position: absolute;
    width: 20.23px;
    height: 20.23px;
    left: 97%;
    top: 21.61px;
}

.req_head {
    position: absolute;
    width: 116px;
    height: 38px;
    left: 48%;
    top: 35px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #2B2A28;
}

.req_und {
    position: absolute;
    width: 80px;
    height: 0.5px;
    left: 48.90%;
    top: 87px;

    border: 2px solid #38A7DE;
}

.req_instruc {
    position: absolute;
    width: 65.34%;
    height: 150px;
    left: 17.32%;
    top: 138px;

    background: rgba(56, 167, 222, 0.275);
    border-radius: 2px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;

    color: #2B2A28;

    padding: 16px 24px 16px 16px;
}

.req_type {
    position: absolute;
    width: 96px;
    height: 19px;
    left: 18.75%;
    top: 344px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #2B2A28;
}

.file {
    position: absolute;
    width: 121px;
    height: 36px;
    left: 18.75%;
    top: 379px;

    background: #FFFFFF;
    border: none;
    border-bottom: 4px solid rgba(56, 167, 222, 0.2);

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;

    color: #2B2A28;
}

.file_req {
    position: absolute;
    width: 121px;
    height: 36px;
    left: 18.75%;
    top: 379px;

    background: rgba(56, 167, 222, 0.25);
    border: none;
    border-bottom: 4px solid #38A7DE;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;

    color: #2B2A28;
}

.cour {
    position: absolute;
    width: 121px;
    height: 36px;
    left: 26%;
    top: 379px;

    background: #FFFFFF;
    border: none;
    border-bottom: 4px solid rgba(56, 167, 222, 0.2);

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;
    
    color: #2B2A28;
}

.cour_req {
    position: absolute;
    width: 121px;
    height: 36px;
    left: 26%;
    top: 379px;

    background: rgba(56, 167, 222, 0.25);
    border: none;
    border-bottom: 4px solid #38A7DE;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 10px;
    
    color: #2B2A28;
}

.file_reqform {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 19.5%;
    top: 431px;
}

.file_req_depa {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 0px;
    top: 0px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;

    color: #2B2A28;
}

.file_sel_dep {
    position: absolute;
    width: 252px;
    height: 36px;
    left: 0%;
    top: 29px;
    
    border: 1px solid #2B2A28;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    text-align: justify;
    padding-left: 8px;

    background: #FFFFFF;
}

.file_req_cour {
    position: absolute;
    width: 200px;
    height: 21px;
    left: 0%;
    top: 79px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    text-align: justify;

    color: rgba(43, 42, 40, 0.2);

}

.file_sel_cour {
    position: absolute;
    width: 252px;
    height: 36px;
    left: 0%;
    top: 108px;

    border: 1px solid #2B2A28;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    text-align: justify;
    padding-left: 8px;

    background: #FFFFFF;
}

.file_sel_cour:disabled {
  border: 1px solid rgba(43, 42, 40, 0.2);
  box-sizing: border-box;
  border-radius: 2px;

  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  text-align: justify;
  padding-left: 8px;
  color: rgba(43, 42, 40, 0.2);

  background: #FFFFFF;
}

.file_mat_type {
    position: absolute;
    width: 98px;
    height: 19px;
    left: 0%;
    top: 168px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(43, 42, 40, 0.2);
}

.tut {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 29%;
    top: 196px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(43, 42, 40, 0.2);
}

.books {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 279%;
    top: 196px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(43, 42, 40, 0.2);
}

.notes {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 529%;
    top: 196px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(43, 42, 40, 0.2);
}

.exam {
    position: absolute;
    width: 250px;
    height: 19px;
    left: 779%;
    top: 196px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: rgba(43, 42, 40, 0.2);
}

.req_file_name {
    position: absolute;
    width: 44px;
    height: 21px;
    left: 0%;
    top: 240px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    text-align: justify;

    color: rgba(43, 42, 40, 0.2);
}

.req_file_in {
  position: absolute;
  width: 479px;
  height: 36px;
  left: 0%;
  top: 269px;

  border: 1px solid #2B2A28;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 9px 12px 8px;

  font-family: Droid Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  text-align: justify;
}


.req_file_in:disabled {
  border: 1px solid rgba(43, 42, 40, 0.2);
  box-sizing: border-box;
  border-radius: 2px;
  padding: 9px 12px 8px;
  background: #FFFFFF;
}

.file_reqformbtn {
    position: absolute;
    width: 94px;
    height: 41px;
    left: 0%;
    top: 329px;

    background: #38A7DE;
    border-radius: 2px;
    border: #38A7DE;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.cour_reqform {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 19.5%;
    top: 431px;
}

.cour_req_depa {
    position: absolute;
    width: 87px;
    height: 21px;
    left: 0px;
    top: 0px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: justify;

    color: #2B2A28;
}

.cour_in_dep {
    position: absolute;
    width: 252px;
    height: 36px;
    left: 0%;
    top: 29px;
    
    border: 1px solid #2B2A28;
    box-sizing: border-box;
    border-radius: 2px;

    padding: 9px 12px 8px;
    background: #FFFFFF;
}

.cour_req_cour {
    position: absolute;
    width: 200px;
    height: 21px;
    left: 0%;
    top: 79px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    text-align: justify;

    color: rgba(43, 42, 40, 0.2);

}

.cour_in_cour {
    position: absolute;
    width: 252px;
    height: 36px;
    left: 0%;
    top: 108px;

    border: 1px solid #2B2A28;
    box-sizing: border-box;
    border-radius: 2px;

    padding: 9px 12px 8px;
    background: #FFFFFF;
}

.cour_in_cour:disabled {
  border: 1px solid rgba(43, 42, 40, 0.2);
  box-sizing: border-box;
  border-radius: 2px;

  padding: 9px 12px 8px;
  background: #FFFFFF;
}

.cour_id_cour {
    position: absolute;
    width: 72px;
    height: 19px;
    left: 0%;
    top: 156px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: rgba(43, 42, 40, 0.2);
}

.cour_in_id {
    position: absolute;
    width: 86px;
    height: 36px;
    left: 0%;
    top: 182px;

    background: #FFFFFF;
    border: 1px solid #2B2A28;
    box-sizing: border-box;
    border-radius: 2px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    padding: 9px 12px 8px;
    color: #2B2A28;
}

.cour_in_id:disabled {
  background: #FFFFFF;
  border: 1px solid rgba(43, 42, 40, 0.2);
  box-sizing: border-box;
  border-radius: 2px;

  padding: 9px 12px 8px;
  color: rgba(43, 42, 40, 0.2);
}

::placeholder {
  
  color: rgba(43, 42, 40, 0.2);
}

.cour_reqformbtn {
    position: absolute;
    width: 94px;
    height: 41px;
    left: 0%;
    top: 242px;

    background: #38A7DE;
    border-radius: 2px;
    border: #38A7DE;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

button:focus {
    outline: none;
}

button:hover, .close_req:hover {
    cursor: pointer;
}

/* Custom Checkboxes */
.cont_mat_tut {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .cont_mat_tut input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    left: 0%;
    top: 199.25px;
    z-index: 1;
  }
  
  .checkmark_tut {
    position: absolute;
    top: 199.5px;
    left: 0%;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border: 1px solid rgba(65, 64, 66, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
  }

  .cont_mat_tut:hover input ~ .checkmark {
    background-color: #FFFFFF;
  }
  
  .cont_mat_tut input:checked ~ .checkmark {
    background-color: #FFFFFF;
  }
  
  .checkmark_tut:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .cont_mat_tut input:checked ~ .checkmark_tut:after {
    display: block;
  }
  
  .cont_mat_tut .checkmark_tut:after {
    left: 4px;
    top: 1.15px;
    width: 3px;
    height: 7px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .cont_mat_tut {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Custom checkbox */
  .cont_mat_books input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    left: 210px;
    top: 199.25px;
    z-index: 1;
  }
  
  .checkmark_books {
    position: absolute;
    top: 199.5px;
    left: 212px;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border: 1px solid rgba(65, 64, 66, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
  }
  
  .cont_mat_books:hover input ~ .checkmark_books {
    background-color: #FFFFFF;
  }
  
  .cont_mat_notes input:checked ~ .checkmark_notes {
    background-color: #FFFFFF;
  }
  
 
  .checkmark_books:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .cont_mat_books input:checked ~ .checkmark_books:after {
    display: block;
  }
  
  .cont_mat_books .checkmark_books:after {
    left: 4px;
    top: 1.15px;
    width: 3px;
    height: 7px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .cont_mat_books {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Custom checkbox */
  .cont_mat_notes input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    left: 430px;
    top: 197.25px;
    z-index: 1;
  }
  
  .checkmark_notes {
    position: absolute;
    top: 199.5px;
    left: 432px;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border: 1px solid rgba(65, 64, 66, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
  }
  
  .cont_mat_notes:hover input ~ .checkmark_notes {
    background-color: #FFFFFF;
  }
  
  .cont_mat_notes input:checked ~ .checkmark_notes {
    background-color: #FFFFFF;
  }
  
  .checkmark_notes:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .cont_mat_notes input:checked ~ .checkmark_notes:after {
    display: block;
  }
  
  .cont_mat_notes .checkmark_notes:after {
    left: 4px;
    top: 1.15px;
    width: 3px;
    height: 7px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .cont_mat_notes {
    position: absolute;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Custom checkbox */
  .cont_mat_exam input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 15px;
    width: 15px;
    left: 645px;
    top: 197.25px;
    z-index: 1;
  }
  
  .checkmark_exam {
    position: absolute;
    top: 199.5px;
    left: 647px;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border: 1px solid rgba(65, 64, 66, 0.2);
    box-sizing: border-box;
    border-radius: 2px;
  }
  
  .cont_mat_exam:hover input ~ .checkmark_exam {
    background-color: #FFFFFF;
  }
  
  .cont_mat_exam input:checked ~ .checkmark_exam {
    background-color: #FFFFFF;
  }
  
  .checkmark_exam:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .cont_mat_exam input:checked ~ .checkmark_exam:after {
    display: block;
  }
  
  .cont_mat_exam .checkmark_exam:after {
    left: 4px;
    top: 1.15px;
    width: 3px;
    height: 7px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }