@import './reset.scss';
@import './fonts.scss';

.sidebar {
    position: absolute;
    width: 424px;
    height: 908px;
    left: 0px;
    top: 73px;

    background: #0D2938;
    // overflow: scroll;

    cursor: default;
}

.close {
    position: absolute;
    width: 1.5px;
    height: 15px;
    left: 395.8px;
    top: 25.55px;

    border-radius: 100px;
    border: #0D2938;

    transform: rotate(-90deg);
}

.course {
    position: absolute;
    width: 200px;
    height: 22px;
    left: 36px;
    top: 58px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

.back_departments {
    position: absolute;
    width: 100px;
    height: 17px;
    left: 36px;
    top: 88px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height */


    color: #38A7DE;
}

.course_name {
    position: absolute;
    width: 251px;
    height: 19px;
    left: 0px;
    top: 152px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;

}

.course_table {
    width: 424px;
    border-top: 2px solid #1A4D68;
}

/*
tbody {
    height: 323px;
    overflow-y: auto;
} */

tr {
    width: 424px;
    height: 42px;

    border: 1px solid rgba(56, 167, 222, 0.15);
}

.tr {
    padding-left: 36px;
    width: 424px;
    
    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;

    color: #FFFFFF;
}

.mycourse {
    width: 50px;

    margin-left: 8px;
    font-family: PT Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */


    color: rgba(56, 167, 222, 0.6);

}

.close, .tr, .back_departments, .addcoursebtn {
    cursor: pointer;
}

/* course addition form */

.course_formdiv {
    position: absolute;
    width: 100%;
}

.add_course {
    position: absolute;
    width: 94px;
    height: 22px;
    left: 36px;
    top: 629.96px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #38A7DE;
}

.dep_add {
    position: absolute;
    width: 87px;
    height: 19px;
    left: 38px;
    top: 667.96px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
}

.sel_dep {
    position: absolute;
    width: 266px;
    height: 36px;
    left: 38px;
    top: 694.96px;

    background: #FFFFFF;
    border-radius: 2px;
}

.course_add {
    position: absolute;
    width: 98px;
    height: 19px;
    left: 36px;
    top: 746.96px;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
}

.sel_course {
    position: absolute;
    width: 266px;
    height: 36px;
    left: 38px;
    top: 773.96px;

    background: #FFFFFF;
    border-radius: 2px;
}

.addcoursebtn {
    position: absolute;
    width: 123px;
    height: 36px;
    left: 36px;
    top: 833.96px;

    background: #38A7DE;
    border-radius: 2px;
    border: #38A7DE;

    font-family: Droid Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #FFFFFF;
}