/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CACAC9;
  border-radius: 18px;
}
* {
  font-family: Sansation;
}